@import "../../../../styles/mixins/index.scss";

html {
  scroll-behavior: smooth; 
 overflow-x: hidden;
}
.hero-image {
  position: relative;
  aspect-ratio: 16/9;
  
  

  @include breakpoint("sm-max") {
    
   
  }
 
  }

  .menu-bar {
    position: relative;
    top:-1px;
    width: 100%;
    background: rgba(12, 57, 133, 0.7);
    left: 0;
    padding: 21px 0;
    @include breakpoint("md-max") {
      font-size: 12px;
    }

    @include breakpoint("sm-max") {
      padding: 12px 0;
    }

    .text-style {
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint("md-max") {
     justify-content: center;
      }

      a:last-child {
        border: none;
        padding-right: 0;
      }
      a {
        display: block;
        border-right: 1px solid #fff;
        padding: 0 60px;
        cursor: pointer;
        font-weight: 300;
        font-size: 32px;
        line-height: 133.4%;
        color: #ffffff;

        @media (max-width: 1024px) {
          font-size: 17px;
      }

        @include breakpoint("sm-max") {
          font-weight: 300;
          font-size: 10px;
          line-height: 133.4%;
          padding: 0 10px;
        }
      }
    }
  }

  .header-style {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .header-alignment {
      display: flex;
      justify-content: space-between;

      .text {
        cursor: pointer;

        @include breakpoint("sm-max") {
          img {
            max-width: 64px;
          }
        }
      }
    }

    .logo {
      padding-left: 14px;
      padding-top: 70px;

      @include breakpoint("sm-max") {
        padding-top: 30px;
        padding-left: 10px;
      }
      img {
        cursor: pointer;
        @include breakpoint("sm-max") {
          max-width: 128px;
        }
      }
    }
  }

  .w-full {
    width: 100%;

    .depart {
      width: 364px;
      height: calc(100% - 0px);
      position: absolute;
      //Will leave it here because it might be needed in the future 
      background: rgba(12, 57, 133, 0.3);
      top: 0;

      @include breakpoint("sm-max") {
        width: 148px;
        height: calc(100% - 42px);
      }
    }
  }


.new-image-class{
  padding-right: 30px;
  @include breakpoint("sm-max") {
   padding-right: 8px;
  }
}
