@import "../../../styles/mixins/index.scss";

.desktop-icon {
  @include breakpoint("sm-max") {
    display: none;
  }
}

mobile-icon {
  display: none;
  @include breakpoint("sm-max") {
    display: block;
  }
}
.projects-all-contnet-alignment {
  padding: 34px 0 253px 0;

  @include breakpoint("sm-max") {
    padding: 60px 0;
  }

  .text {
    padding: 0 0 21px 0;

    @include breakpoint("sm-max") {
      padding: 0 0 30px 0;
    }

    h4 {
      font-weight: 500;
      font-size: 48px;
      line-height: 123.4%;
      letter-spacing: -0.055em;
      color: #323232;

      @include breakpoint("sm-max") {
        font-size: 20px;
        text-align: center;
        font-weight: 500;
      }
    }
  }

  .grid {
    // Example height

    display: grid;
    grid-template-columns: 552px 266px 266px 1fr;
    gap: 10px;
    padding: 0 0 60px 0;
    max-height: 100%;

    @include breakpoint("sm-max") {
      padding: 0;
      grid-template-columns: repeat(1, 1fr);
    }

    .images {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
      max-height: 552px;
    }

    .background-text {
      background-color: #f5f5f5;
      padding: 7%;
      max-height: 552px;

      .project-title {
        // display: block;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include breakpoint("sm-max") {
          font-size: 18px;
        }
      }
      .project-text {
        
        display: -webkit-box;
        -webkit-line-clamp: 18;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        // display: block;
        @include breakpoint("sm-max") {
          font-size: 14px;
        }
      }
    }
    .grid-items {
      height: 100%;
      position: relative;


      


      .upper-part , .lower-part {
        img {
          width: 100%;
          display: block;
          height: 271px;
          object-fit: cover;
        }
      }

      .lower-part{
        position: relative;
        &::before {
          position: absolute;
          top: 0;
          left: 0;
        background: #FF7E00B2;

        width: 100%;
        height: 100%;
        content: '';

        }
      }


      .dot-navigation {
       

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include breakpoint("sm-max") {
          display: flex;
          flex-direction: row;
          margin-top: 0;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }

        .dot {
          margin-bottom: 16%;
          margin-top: 19%;
          height: 7px;
          width: 7px;
          background-color: #4c6ca1;
          border-radius: 50%;
          cursor: pointer;
          transition: background-color 0.3s;

          // Define mobile styles
          @include breakpoint("sm-max") {
            width: 20px;
            height: 20px;
          }

          // Active state
          &.active {
            background-color: #ff7e00;
            height: 17px;
            width: 17px;

            // Override active state for mobile
            @include breakpoint("sm-max") {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
      .arrow {
        margin-top: 80%;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #4c6ca1;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        color: #fff;
        transform: translateY(-50%);
        z-index: 9999;
        @include breakpoint("sm-max") {
          margin-top: 14%;
          height: 40px;
          width: 40px;
        }
        .desktop-icon {
          @include breakpoint("sm-max") {
            display: none;
          }
        }

        .mobile-icon {
          display: none;
          @include breakpoint("sm-max") {
            display: block;
          }
        }
      } // This changes the cursor to a pointer when hovering over the arrow

      // Other styles for the arro

      .lg-image {
        margin: 0;
        padding: 0;
        img {
          display: block;
          width: 100%;
          height: 552px;
          object-fit: cover;

          @include breakpoint("sm-max") {
            height: 315px;
          }
        }

        h1 {
          margin-top: 25%;
          margin-left: 20%;
          @include breakpoint("sm-max") {
          }
        }

        p {
          padding-left: 5%;
          padding-right: 20%;
        }
      }
    }
  }
}
