@import '../../../../styles/mixins/index.scss';


header {
  

    @include breakpoint("sm-max") {
        padding: 0 0 20px 0;
    }
    .header-align {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom:20px ;
        padding-left: 8%;
        padding-right: 8%;

        img {
            cursor: pointer;
        }
    }

    .header-logo {
        img {
            @include breakpoint("sm-max") {
                max-width: 128px;
            }
        }
    }

    .mobile-show {
        display: none;

        @include breakpoint("sm-max") {
            display: block;
        }

        .mobile-image-alignment {
            display: flex;
            align-items: center;
            gap: 24px;

            img {
                counter-increment: none;
            }
        }
    }

    .image-alignment {
        display: flex;
        align-items: flex-start;
        gap: 22px;
     
        position: relative;
        @include breakpoint("sm-max") {
            display: none;
        }
        img {
            cursor: pointer;
        }

        .capa {
            @include breakpoint("sm-max") {
                max-width: 43px;
            }
        }

        .text-frame {
            @include breakpoint("sm-max") {
                width: 64px;
            } 
        }
    }
}