@import "../../../styles/mixins/index.scss";


.container {
    display: flex;
    height: 100%;
    gap: 10px;
    @media screen and (max-width: 768px){
      display: block;
      
    }
  }
  
  .one-half {
    height: 100vh;
    flex: 1;
    /* Optional, just to visualize the division */
    background-image: url('/src/assets/imges/onlineshop1.jpg');
    background-size: cover;
    background-position: center;
    @include breakpoint("sm-max") {
      height: 475px;
    }
  }
  
  .two-half {
    height: 100vh;
    flex: 1;
  /* Optional, just to visualize the division */
    background-image: url('/src/assets/imges/onlineshop2.svg');
    background-size: cover;
    background-position: center;
    @include breakpoint("sm-max") {
      height: 475px;
    }
  }

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 100%;
   color: white;    
    padding: 20px;
    font-size: 30px;
    
    
    .h1{
        font-size: 50px;
    }
    
}
.background {
    width: 439px;
    height: 313px;
    backdrop-filter: blur(6px);
    // padding:15px 5px 30px 15px;
    padding-top: 15px;
    padding-left: 15px; 

    @include breakpoint("sm-max") {
      width: 80%;
      height: 50%;
    } 
   
   
}
.background1 {
    width: 439px;
    height: 313px;
 backdrop-filter: blur(6px);
    padding: 15px 30px 30px  15px;
     @include breakpoint("sm-max") {
      width: 80%;
      height: 40%;
    } // top, right, bottom, left
}

.logos {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    @include breakpoint("sm-max") {
      display: none;
    }

  }
  .logos-mobile{
    display: none;
    @include breakpoint("sm-max") {
      top: 5%;
      position: absolute;
      left: 18%;
      display: flex;
      justify-content: space-around;      
  }
    }
  

  .title{
    font-size: 30px;
    color: white;  
    margin-top: 30px;
    margin-bottom:100px;  

     @include breakpoint("sm-max") {
      font-size: 20px;
    }
  }

  .title1{
    font-size: 30px;
    color: white;  
    margin-bottom:0px;
    @include breakpoint("sm-max") {
      font-size: 20px;
    }  
  }