@import "../../../../styles/mixins/index.scss";


@keyframes slide-in {
  from {
      transform: translateY(100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
@keyframes slide-in-left-to-right {
  from {
      transform: translateX(-100%); /* Start off-screen to the left */
      opacity: 0;
  }
  to {
      transform: translateX(0); /* End at the element's original position */
      opacity: 1;
  }
}
@keyframes slide-in-right-to-left {
  from {
      transform: translateX(100%); /* Start off-screen to the right */
      opacity: 0;
  }
  to {
      transform: translateX(0); /* End at the element's original position */
      opacity: 1;
  }
}

.animated-right-to-left {
  animation: slide-in-right-to-left 2s forwards;
}

.animated-left-to-right {
  animation: slide-in-left-to-right 2s forwards;
}
.animated-paragraph {
  animation: slide-in 2s forwards;
}



.unsere-dienstleistungen-section-all-contnet-alignment {
  padding: 86px 0 155px 0;

  @include breakpoint("sm-max") {
    padding: 60px 0;
  }
  .container-new {
  max-width: 1500px;
  margin: 0 auto;
  @include breakpoint("sm-max") {
      padding: 0 30px;
  }
}

  .title {
    padding: 0 0 60px 0;

    @include breakpoint("sm-max") {
      padding: 0 0 40px 0;
    }
    h5 {
      font-weight: 600;
      font-size: 80px;
      line-height: 166.4%;
      color: #323232;
      text-align: center;

      @include breakpoint("sm-max") {
        font-weight: 600;
        font-size: 24px;
        line-height: 166.4%;
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
 
    @include breakpoint("sm-max") {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
    
    .grid-items:last-child {
      transform: none;
      background: rgba(255, 126, 0, 0.7);
      

      @include breakpoint("sm-max") {
        height: 442px;
      }
    }
    .grid-items {
      background: rgba(122, 122, 122, 0.1);
      transition: 0.3s ease-in-out;
      padding: 75px 69px;
      cursor: pointer;

      &:nth-last-child(3) {
        background: rgba(12, 57, 133, 0.7);
        @include breakpoint("sm-max") {
          height: 442px;
        }
      }

      &:hover {
        background: rgba(12, 57, 133, 0.7);
        transition: 0.3s ease-in-out;
        transform: translate(0 , -3px);

        span {
          color: #fff;
          transform: translate(0 , -3px);
          transition: .3s ease-in-out;
        }
      }

      @include breakpoint("sm-max") {
        padding: 30px 25px;
      }

      span {
        display: block;
        transition: .3s ease-in-out;

        font-weight: 700;
        padding: 0 0 27px 0;
        font-size: 20px;
        line-height: 152.4%;
        color: #323232;

        @include breakpoint("sm-max") {
          font-weight: 700;
          font-size: 13px;
          line-height: 152.4%;
        }
      }

      .image {
        img {
          width: 100%;
          height: 548px;
          object-fit: cover;
          @include breakpoint("sm-max") {
            height: 329px;
          }
        }
      }
    }
  }
  .grid-items:last-child {
    // Prevent the background color change on hover
    &:hover {
        background: rgba(255, 126, 0, 0.7); // This is the original color of the last child
        transform: none; // Prevent moving the item on hover

        span {
            color: #323232; // This should be the original color of the text
            transform: none; // Prevent moving the text on hover
        }
    }
}
}
