html {
  font-family: sans-serif;
  background: var(--page-background-primary);
  color: var(--palette-text-primary-color);
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
}
